{#
/**
 * @file
 * Still Me Project - Base field template.
 *
 * Available variables:
 * - attributes: HTML attributes for the field wrapper.
 * - label_hidden: Whether the label display is set to visually hidden.
 * - label: The field label value.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of field items containing:
 *   - attributes: HTML attributes for each item.
 *   - content: The rendered field item content.
 * - entity_type: The entity type (e.g. node, user).
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The label display setting (above, inline, hidden, visually_hidden).
 *
 * @see template_preprocess_field()
 */
#}

{%
  set classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
    label_display == 'inline' ? 'field--inline',
  ]
%}

{%
  set title_classes = [
    'field__label',
    label_display == 'visually_hidden' ? 'sr-only',
  ]
%}

{% if label_hidden %}
  {% if multiple %}
    <div{{ attributes.addClass(classes) }}>
      {% for item in items %}
        <div{{ item.attributes.addClass('field__item') }}>{{ item.content }}</div>
      {% endfor %}
    </div>
  {% else %}
    {% for item in items %}
      <div{{ attributes.addClass(classes) }}>
        <div{{ item.attributes.addClass('field__item') }}>{{ item.content }}</div>
      </div>
    {% endfor %}
  {% endif %}
{% else %}
  <div{{ attributes.addClass(classes) }}>
    <div{{ title_attributes.addClass(title_classes) }}>{{ label }}</div>
    {% if multiple %}
      <div class="field__items">
    {% endif %}
    {% for item in items %}
      <div{{ item.attributes.addClass('field__item') }}>{{ item.content }}</div>
    {% endfor %}
    {% if multiple %}
      </div>
    {% endif %}
  </div>
{% endif %}
