{#
/**
 * @file
 * Still Me Project - Base block template.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block.
 * - content: The content of the block.
 * - attributes: HTML attributes for the block wrapper.
 * - title_attributes: HTML attributes for the title.
 * - title_prefix / title_suffix: Additional title output.
 *
 * @see template_preprocess_block()
 */
#}

{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
  ]
%}

<div{{ attributes.addClass(classes) }}>

  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes.addClass('block__title') }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}

  {% block content %}
    <div class="block__content">
      {{ content }}
    </div>
  {% endblock %}

</div>
